Please would you provide a ranked list of predicted genes for this phenopacket:

{{ phenopacket }}

Provide the output in JSON format, with the naming of the dictionary keys exact. Please only provide the JSON format and no other notes or blank lines in the response, for example:

[
  {"gene_symbol": "<GENE_SYMBOL>",
   "score": 0.9,
   "rank" : 1
  },
  {"gene_symbol": "<GENE_SYMBOL>",
   "score": 0.8,
   "rank" : 2
  }
]