Please would you provide a ranked list of predicted diseases for this phenotypic profile:
{{ hpo_terms }}
For each disease add the OMIM ID (OMIM:). Provide the output in the following JSON format, with the naming of the dictionary keys exact. Please only provide the format and no other notes or blank lines in the response, for example:
[
  {"disease_name": "<Disease1>",
   "omim_disease_id": "OMIM:<Disease1_OMIM_ID>",
   "score": 0.9,
  },
  {"disease_name": "<Disease2>",
   "omim_disease_id": "OMIM:<Disease2_OMIM_ID>",
   "score": 0.8,
  }
]
