Please would you provide a ranked list of predicted genes for this phenotypic profile:
{{ hpo_terms }}
The predicted genes should be selected from the following list of known genes, try and limit to the top 15 genes:
{{ constrained_list }}
Provide the output in the following JSON format:
[
  {"gene_symbol": "<GENE_SYMBOL>",
   "score": 0.9
  },
  {"gene_symbol": "<GENE_SYMBOL>",
   "score": 0.8
  }
]
