Please would you provide a ranked list of predicted genes for this phenotypic profile:
{{ hpo_terms }}
Provide the output in the following JSON format:
[
  {"gene_symbol": "<GENE_SYMBOL>",
   "score": 0.9
  },
  {"gene_symbol": "<GENE_SYMBOL>",
   "score": 0.8
  }
]
